# Core
numpy>=1.24
pygame>=2.5

# Configs
pyyaml>=6.0

# RL (not used yet, but next step)
gymnasium>=0.29
stable-baselines3>=2.2
torch>=2.1

# Logging / debugging
tensorboard>=2.15

# Model export / inference (later)
onnx>=1.15
onnxruntime>=1.17
